<!-- Banner start -->
<section class="section banner-3">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-12">
				<div class="profile mb-5">
					<img src="~/images/about-img.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-7">
				<h2>Kumsal Çelebi</h2>
				<p class="lead mb-4">Bilgisayar Mühendisi</p>

				<p class="mb-4">
					1998 yılında Bursa'da doğdum. Lise eğitimimi Bursa Anadolu Sağlık Meslek Lisesi'nde tamamladıktan sonra sağlık sektörünün
					hiç benlik olmadığını fark ettim ve radikal bir geçişle bilgisayar mühendisliği okumaya karar verdim. 
					Bu süreçte kendimi tanımama ve kariyer yolumu çizmeme yardımcı olacak faaliyetlerde bulunmaya çalıştım. 
					Yaz stajımı ABAP üzerinde DetaySoft Şirketi'nde tamamladım. 
					Okul projelerinde takım içerisinde hem liderlik pozisyonu hem de ekip çalışması deneyimi edindim ve bu projeler sırasında Front-End alanına olan ilgimi fark ettim. 
					Ayrıca ilgilendiğim konular: UX/UI Design.
					2024 Eylül'de mezun olmayı planlıyorum.
				</p>

				<img src="~/images/signature.png" alt="" class="img-fluid">
			</div>

		</div>
	</div>
</section>

<!-- Banner End -->
<!-- Skill Start -->
<section class="section skills">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h3>Yeteneklerim.</h3>
			</div>

			<div class="col-lg-8">
				<div class="progress-bar-content">
					<div class="progress-label d-flex align-items-center">
						<div class="progress-title">HTML</div>
						<span class="progress-bar-units ml-auto">80%</span>
					</div>
					<div class="progress">
						<div class="progress-bar" data-percent="80"></div>
					</div>
				</div>
				<div class="progress-bar-content">
					<div class="progress-label d-flex align-items-center">
						<div class="progress-title">CSS</div>
						<span class="progress-bar-units ml-auto">70%</span>
					</div>
					<div class="progress">
						<div class="progress-bar" data-percent="70"></div>
					</div>
				</div>
				<div class="progress-bar-content">
					<div class="progress-label d-flex align-items-center">
						<div class="progress-title">Takım Çalışması</div>
						<span class="progress-bar-units ml-auto">90%</span>
					</div>
					<div class="progress">
						<div class="progress-bar" data-percent="90"></div>
					</div>
				</div>
				<div class="progress-bar-content">
					<div class="progress-label d-flex align-items-center">
						<div class="progress-title">Liderlik</div>
						<span class="progress-bar-units ml-auto">90%</span>
					</div>
					<div class="progress">
						<div class="progress-bar" data-percent="90"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Skill end -->
<!-- Cta Start -->
<section class="section-sm pt-0 cta">
	<div class="container">
		<div class="row align-items-center bg-dark p-5">
			<div class="col-lg-8">
				<h3 class="text-white mb-0">Benimle iletişime geçmek ister misin?</h3>
			</div>
			<div class="col-lg-4 text-lg-right mt-5 mt-lg-0">
				<a href="contact.html" class="btn btn-white">İLETİŞİME GEÇ</a>
			</div>
		</div>
	</div>
</section>
<!-- Cta ENd -->