<section class="page-title section pb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
					<h1 class="text-capitalize mb-0 text-lg">Tübitak 2209-A</h1>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section portfolio-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<img src="~/images/tubitak/tübitak.png" alt="" class="img-fluid w-100">
			</div>

			<div class="col-lg-6">
				<div class="project-info">
					<h3 class="mb-4">Gerçek Zamanlı Akıllı Trafik İşareti Tanıma Sistemi</h3>
					<p>Erzurum Teknik Üniversitesi adına çoğunluğu kötü hava koşullarından oluşan bir veri kümesi oluşturuldu.</p>

					<p>Çalışma temelde karanlık ve sisli görüntüleri ele almıştır. </p>
					<p>Karanlık ve sisli hava koşulları için farklı yöntemler görüntüler üstünde denenmiş, ardından YOLOv4, YOLOv5, YOLOv8 ve YOLOv9 üzerinde test edilmiştir.</p>
					<p>Çalışmanın gerçek zamanlı ayağı için Raspberry Pi 4 kamera kullanılmıştır.</p>
					<p>Bu çalışma Tübitak BİDEB 2209-A tarafından desteklenmektedir.</p>

					<div class="row mt-4">
						<div class="col-lg-6">
							<div class="info">
								<h5 class="mb-0">Uygulama</h5>
								<p>Gerçek Zamanlı</p>
							</div>

							<div class="info">
								<h5 class="mb-0">Yıl</h5>
								<p>2024</p>
							</div>
							<div class="mt-4">
								<!--PROJE DETAYINA GİTSİN-->
								<a href="@Url.Action("BitirmeDetay", "Home")" class="btn btn-main btn-small">View project</a>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="info">
								<h5 class="mb-0">Category</h5>
								<p>Nesne Tanıma</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col-lg-6 text-center">
				<a href="@Url.Action("DKUG", "Home")" class="btn btn-dark">Previous Work</a>
				<a href="@Url.Action("Viki", "Home")" class="btn btn-dark">Next Work</a>
			</div>
		</div>
	</div>
</section>