<!-- POrtfolio start -->
<section class="portfolio ">
	<div class="container">
		<div class="row shuffle-wrapper portfolio-gallery">
			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/tubitak/tübitak2.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/tubitak/tübitak3.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/tubitak/t7-45.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/tubitak/t25-19.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

		</div>
</section>
<!-- Portfolio End -->