<!-- POrtfolio start -->
<section class="portfolio ">
	<div class="container">
		<div class="row shuffle-wrapper portfolio-gallery">
			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/blog/tubitak/tubitak2.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/blog/tubitak/tubitak3.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/blog/tubitak/tubitak1.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>


		</div>
	</div>
</section>
<!-- Portfolio End -->
