<section class="page-title section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="text-capitalize mb-0 text-lg">İletişim Bilgileri</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact form start -->
<section class="contact section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0 col-md-4">
                <h4>İletişim Bilgileri</h4>
                <p>Benimle mail yoluyla iletişime geçebilirsiniz.</p>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0 col-md-4">
                <h4>Address</h4>
                <p>Osmangazi/Bursa<br>Türkiye</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4>Mail Adresim</h4>
                <p class="mb-0">kumsal.celebiii@gmail.com</p>
            </div>
        </div>


    </div>
</section>