<section class="page-title section pb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
					<h1 class="text-capitalize mb-0 text-lg">KUIKA ile Düşük Kodlu Uygulama Geliştirme</h1>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section portfolio-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<img src="~/images/kuika/kirliSepetiLogom.png" alt="" class="img-fluid w-100">
			</div>

			<div class="col-lg-6">
				<div class="project-info">
					<h3 class="mb-4">Kirli Sepeti</h3>
					<p>Erzurum Teknik Üniversitesi ve Kuika platformu anlaşması sayesinde platformu kullanarak kendi fikrim olan Kirli Sepeti uygulamasını hayata geçirdim.</p>

					<p>Mobil uygulamadır.</p>
					<p>Uygulamanın amacı, kıyafetlerin son durumu hakkında kullanıcıyı bilgilendirmektir.</p>

					<div class="row mt-4">
						<div class="col-lg-6">
							<div class="info">
								<h5 class="mb-0">Uygulama Ekranı</h5>
								<p>Mobil Uygulama</p>
							</div>

							<div class="info">
								<h5 class="mb-0">Yıl</h5>
								<p>2024</p>
							</div>
							<div class="mt-4">
								<!--PROJE DETAYINA GİTSİN-->
								<a href="@Url.Action("DKUGDetay", "Home")" class="btn btn-main btn-small">View project</a>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="info">
								<h5 class="mb-0">Category</h5>
								<p>Web Design</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col-lg-6 text-center">
				<a href="@Url.Action("YazilimMuhendisligi", "Home")" class="btn btn-dark">Previous Work</a>
				<a href="@Url.Action("Bitirme", "Home")" class="btn btn-dark">Next Work</a>
			</div>
		</div>
	</div>
</section>