@{
    ViewData["Title"] = "Home Page";
}

<!-- Banner Start -->
<section class="section banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				 <h2 class="cd-headline clip is-full-width mb-4 ">
				 	Burada yer alanlar <br>
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">Çalışmalarım </b>
                        <b>Hobilerim</b>
                        <b>İlgilendiğim Konular</b>
                    </span>
                </h2>
			</div>
		</div>
	</div>
</section>

<!-- Banner End -->

<!-- POrtfolio start -->
<section class="portfolio ">
	<div class="container">
		<div class="row mb-5">
	      	<div class="col-10">
		        <div class="btn-group btn-group-toggle " data-toggle="buttons">
		          <label class="btn active ">
		            <input type="radio" name="shuffle-filter" value="all" checked="checked" />Bütün Projeler
		          </label>
		        </div>
	      	</div>
    	</div>	

		<div class="row shuffle-wrapper portfolio-gallery">
	      <div class="col-lg-4 col-6 mb-4 shuffle-item"  data-groups="[&quot;design&quot;,&quot;illustration&quot;]">
		      	<div class="position-relative inner-box">
		          <div class="image position-relative ">
						<img src="~/images/portfolio/1.png" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner"> <!--portfolio-single-->
								<a class="overlay-content" href="@Url.Action("YazilimMuhendisligi", "Home")">
	                      <h5 class="mb-0">Yazılım</h5>
	                      <p>Mühendisliği</p>
	                    </a>
	                  </div>
	                </div> 
	            </div>
		      </div>
	      </div>

	      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;branding&quot;]">
	        <div class="position-relative inner-box" >
	            <div class="image position-relative ">
						<img src="~/images/portfolio/4.png  " alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner"> <!--portfolio-single2-->
								<a class="overlay-content" href="@Url.Action("DKUG", "Home")">
		                      <h5 class="mb-0">KUIKA ile</h5>
		                      <p>Düşük Kodlu Uygulama Geliştirme</p>
		                    </a>
	                	</div> 
		            </div>
		        </div>
		      </div>
	      </div>

	      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images/portfolio/3.png" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner"> <!--prtfolio single3-->
								<a class="overlay-content" href="@Url.Action("Bitirme", "Home")">
	                      <h5 class="mb-0">Bitirme</h5>
	                      <p>Projesi</p>
	                    </a>
	                  </div>
	                </div> 
	            </div>
	        </div>
	      </div>

	      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;branding&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images/portfolio/5.png" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
								<a class="overlay-content" href="@Url.Action("Viki", "Home")">
	                      <h5 class="mb-0">Wikipedia</h5>
	                      <p>Türkçe Katkı</p>
	                    </a>
	                  </div>
	                </div> 
	            </div>
	        </div>
	      </div>
	    </div>
	</div>
</section>
<!-- Portfolio End -->

