<section class="page-title section pb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
					<h1 class="text-capitalize mb-0 text-lg">Vikipedi Türkçe Katkı</h1>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section portfolio-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<img src="~/images/viki/5.png" alt="" class="img-fluid w-100">
			</div>

			<div class="col-lg-6">
				<div class="project-info">
					<h3 class="mb-4">Ağ Dosya Sistemi</h3>
					<p>Vikipedi'deki Türkçe kaynak yetersizliğini gidermek amacıyla "Network File System" konu başlıklı içeriğin düzenlenmesi yapılmıştır.</p>

					<p>Proje kapsamında detaylı araştırmalar yapılıp yeni kaynaklar da eklenmiştir.</p>
					<p>Türkçe sayfasında "Ağ Dosya Sistemi" adıyla yer alan içeriği Vikipedi'den görüntüleyebilirsiniz.</p>

					<div class="row mt-4">
						<div class="col-lg-6">
							<div class="info">
								<h5 class="mb-0">Uygulama</h5>
								<p>Vikipedi İçeriği</p>
							</div>

							<div class="info">
								<h5 class="mb-0">Yıl</h5>
								<p>2023</p>
							</div>
							<div class="mt-4">
								<!--PROJE DETAYINA GİTSİN-->
								<a href="@Url.Action("VikiDetay", "Home")" class="btn btn-main btn-small">View project</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col-lg-6 text-center">
				<a href="@Url.Action("Bitirme", "Home")" class="btn btn-dark">Previous Work</a>
				<a href="@Url.Action("YazilimMuhendisligi", "Home")" class="btn btn-dark">Next Work</a>
			</div>
		</div>
	</div>
</section>