<!-- POrtfolio start -->
<section class="portfolio ">
	<div class="container">
		<div class="row shuffle-wrapper portfolio-gallery">
			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/viki/viki1.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>
			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/viki/viki4.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/viki/viki2.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/viki/viki3.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>



		</div>
</section>
<!-- Portfolio End -->