<!-- POrtfolio start -->
<section class="portfolio ">
	<div class="container">
		<div class="row shuffle-wrapper portfolio-gallery">
			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/portfolio-single/index.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/portfolio-single/pdf1.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/portfolio-single/pdf2.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/portfolio-single/yoneticiLogin.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/portfolio-single/adminPanel.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/portfolio-single/addAdmin.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/portfolio-single/studentApply.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

			<div class="col-lg-6 col-6 mb-4 shuffle-item">
				<img src="~/images/portfolio-single/studentApply2.png" alt="portfolio-image" class="img-fluid w-100 d-block">
			</div>

		</div>
	</div>
</section>
<!-- Portfolio End -->