<section class="page-title section pb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
					<h1 class="text-capitalize mb-0 text-lg">Muafiyet Başvuru Ekranı</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<!--Yazılım Mühendisliği-->
<section class="section portfolio-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<img src="~/images/portfolio/yazilim.jpg" alt="" class="img-fluid w-100">
			</div>

			<div class="col-lg-6">
				<div class="project-info">
					<h3 class="mb-4">ETÜ Muafiyet Başvuru Ekranı</h3>
					<p>Erzurum Teknik Üniversitesi adına Yazılım Mühendisliği dersi projesi olarak muafiyet başvuru formunu dijital hale getirdik. </p>

					<p>Projenin Front-End bölümünü ben üstlendim.</p>
					<p>Proje yönetimi olarak Scrum ve Agile metotları kullandık.</p>

					<div class="row mt-4">
						<div class="col-lg-6">
							<div class="info">
								<h5 class="mb-0">Client</h5>
								<p>Erzurum Teknik Üniversitesi</p>
							</div>

							<div class="info">
								<h5 class="mb-0">Year</h5>
								<p>2024</p>
							</div>
							<div class="mt-4">
								<!--PROJE DETAYINA GİTSİN-->
								<a href="@Url.Action("YazilimMuhDetay", "Home")" class="btn btn-main btn-small">View project</a>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="info">
								<h5 class="mb-0">Category</h5>
								<p>Web Design</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5 justify-content-center">
			<div class="col-lg-6 text-center">
				<a href="@Url.Action("Viki", "Home")" class="btn btn-dark">Previous Work</a>
				<a href="@Url.Action("DKUG", "Home")" class="btn btn-dark">Next Work</a>
			</div>
		</div>
	</div>
</section>